.vscode
.claude
.idea
.DS_Store
npm-debug.log*
coverage
*.lcov
node_modules/
*.tsbuildinfo
.npm
.eslintcache
.env
.env.*
!.env.example
.cache
.temp
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
